In [12]:
import pandas as pd

In [46]:
df=pd.read_csv('uploads/5_years_financial_data.csv',parse_dates = ['Date'],dayfirst=True)

df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

In [67]:
df1=df.groupby('Category',as_index=False).agg({'Amount':'sum'}).rename(columns={'Category':'category','Amount':'amount'}).to_dict(orient='dict')

In [68]:
df1

{'category': {0: 'Dining Out',
  1: 'Entertainment',
  2: 'Groceries',
  3: 'Health',
  4: 'Transportation',
  5: 'Utilities'},
 'amount': {0: 33407.86,
  1: 30209.94,
  2: 32965.54,
  3: 34812.27,
  4: 35263.36,
  5: 34830.48}}

In [49]:
# Calculate total expenses by category
category_totals = df.groupby('Category',as_index=False).agg({'Amount':'sum'}).to_dict(orient='dict')

category_totals

{'Category': {0: 'Dining Out',
  1: 'Entertainment',
  2: 'Groceries',
  3: 'Health',
  4: 'Transportation',
  5: 'Utilities'},
 'Amount': {0: 33407.86,
  1: 30209.94,
  2: 32965.54,
  3: 34812.27,
  4: 35263.36,
  5: 34830.48}}

In [56]:
df['category_yearly'] = df['Category']+' '+df['Year'].astype(str)
yearly_expenses_per_category=df.groupby(['category_yearly'],as_index=False).agg({'Amount':'sum'}).to_dict(orient='dict')
yearly_expenses_per_category

{'category_yearly': {0: 'Dining Out 2019',
  1: 'Dining Out 2020',
  2: 'Dining Out 2021',
  3: 'Dining Out 2022',
  4: 'Dining Out 2023',
  5: 'Entertainment 2019',
  6: 'Entertainment 2020',
  7: 'Entertainment 2021',
  8: 'Entertainment 2022',
  9: 'Entertainment 2023',
  10: 'Groceries 2019',
  11: 'Groceries 2020',
  12: 'Groceries 2021',
  13: 'Groceries 2022',
  14: 'Groceries 2023',
  15: 'Health 2019',
  16: 'Health 2020',
  17: 'Health 2021',
  18: 'Health 2022',
  19: 'Health 2023',
  20: 'Transportation 2019',
  21: 'Transportation 2020',
  22: 'Transportation 2021',
  23: 'Transportation 2022',
  24: 'Transportation 2023',
  25: 'Utilities 2019',
  26: 'Utilities 2020',
  27: 'Utilities 2021',
  28: 'Utilities 2022',
  29: 'Utilities 2023'},
 'Amount': {0: 7374.05,
  1: 5233.52,
  2: 7550.03,
  3: 7145.92,
  4: 6104.34,
  5: 6702.67,
  6: 7161.22,
  7: 4236.47,
  8: 5695.44,
  9: 6414.14,
  10: 5851.46,
  11: 5587.91,
  12: 7097.16,
  13: 5627.5199999999995,
  14: 8801.49,
  15: 6136.22,
  16: 8058.18,
  17: 5893.8,
  18: 8724.43,
  19: 5999.64,
  20: 6189.78,
  21: 7667.85,
  22: 8169.74,
  23: 6115.86,
  24: 7120.13,
  25: 8228.69,
  26: 7198.28,
  27: 6639.27,
  28: 6720.36,
  29: 6043.88}}

In [60]:

# Calculate Monthly expenses
df['year_month'] = df['Year'].astype(str)+'-'+df['Month'].astype(str)
monthly_expenses = df.groupby(['year_month'],as_index=False).agg({'Amount':'sum'}).rename(columns={"year_month": "category", "Amount": "amount"}).to_dict(orient='dict')
monthly_expenses

{'category': {0: '2019-1',
  1: '2019-10',
  2: '2019-11',
  3: '2019-12',
  4: '2019-2',
  5: '2019-3',
  6: '2019-4',
  7: '2019-5',
  8: '2019-6',
  9: '2019-7',
  10: '2019-8',
  11: '2019-9',
  12: '2020-1',
  13: '2020-10',
  14: '2020-11',
  15: '2020-12',
  16: '2020-2',
  17: '2020-3',
  18: '2020-4',
  19: '2020-5',
  20: '2020-6',
  21: '2020-7',
  22: '2020-8',
  23: '2020-9',
  24: '2021-1',
  25: '2021-10',
  26: '2021-11',
  27: '2021-12',
  28: '2021-2',
  29: '2021-3',
  30: '2021-4',
  31: '2021-5',
  32: '2021-6',
  33: '2021-7',
  34: '2021-8',
  35: '2021-9',
  36: '2022-1',
  37: '2022-10',
  38: '2022-11',
  39: '2022-12',
  40: '2022-2',
  41: '2022-3',
  42: '2022-4',
  43: '2022-5',
  44: '2022-6',
  45: '2022-7',
  46: '2022-8',
  47: '2022-9',
  48: '2023-1',
  49: '2023-10',
  50: '2023-11',
  51: '2023-12',
  52: '2023-2',
  53: '2023-3',
  54: '2023-4',
  55: '2023-5',
  56: '2023-6',
  57: '2023-7',
  58: '2023-8',
  59: '2023-9'},
 'amount': {0: 2457.76,
  1: 3418.11,
  2: 3188.99,
  3: 3939.09,
  4: 3299.6,
  5: 3529.34,
  6: 3367.66,
  7: 3652.59,
  8: 3318.5099999999998,
  9: 4003.08,
  10: 3212.92,
  11: 3095.22,
  12: 3227.33,
  13: 3719.75,
  14: 3343.55,
  15: 3189.99,
  16: 3339.11,
  17: 3773.73,
  18: 3262.24,
  19: 3476.84,
  20: 3651.41,
  21: 3429.32,
  22: 3346.18,
  23: 3147.51,
  24: 3331.46,
  25: 2968.58,
  26: 3179.32,
  27: 3381.7200000000003,
  28: 2860.35,
  29: 3597.62,
  30: 3084.13,
  31: 2937.92,
  32: 3461.79,
  33: 3518.68,
  34: 3847.1,
  35: 3417.8,
  36: 2999.32,
  37: 3031.52,
  38: 3467.92,
  39: 3104.52,
  40: 2677.22,
  41: 4137.85,
  42: 3416.35,
  43: 3676.14,
  44: 3337.19,
  45: 3352.37,
  46: 3291.62,
  47: 3537.5099999999998,
  48: 3644.62,
  49: 3494.86,
  50: 3405.56,
  51: 3674.79,
  52: 2768.32,
  53: 3980.89,
  54: 3004.7999999999997,
  55: 3521.68,
  56: 3027.15,
  57: 3372.68,
  58: 3095.02,
  59: 3493.25}}

In [51]:
# Calculate yearly expenses
yearly_expenses = df.groupby(['Year'],as_index=False).agg({'Amount':'sum'}).to_dict(orient='dict')
yearly_expenses

{'Year': {0: 2019, 1: 2020, 2: 2021, 3: 2022, 4: 2023},
 'Amount': {0: 40482.87, 1: 40906.96, 2: 39586.47, 3: 40029.53, 4: 40483.62}}

In [33]:

# Calculate total expenses 
total_expenses = df['Amount'].sum()

In [ ]:
res={
    'category_totals': category_totals,
    'monthly_expenses': monthly_expenses,
    'total_expenses': total_expenses
}

In [ ]:
data=df
plt.figure()
data.groupby('Category')['Amount'].sum().plot.pie()
pie_chart_path = os.path.join(CHART_FOLDER, 'pie_chart.png')
plt.savefig(pie_chart_path)
charts['pie_chart'] = pie_chart_path'])